.navbar a {
    color: white;
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin-bottom: 60px;
}
#contentProduit {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    color: #ee82ee;
}

.card {
    width: 400px;
    margin: 10px;
    border: solid 1px;
    cursor: pointer;
}
.cardProduit {
    width: 800px;
    margin: 50px;
    border: solid 1px;
    cursor: pointer;
    text-align: center;
}
.card:hover {
    box-shadow: 3px 5px 20px #555;
}
.card img, .cardProduit img {
    width: 100%;
}
.button, #commander {
    height: 38px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: thistle;
}
.price {
    text-align: center;
}
.validImg {
    width: 100px;
}
.titlePanier {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productPanier {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#supprimer {
    display: flex;
    flex-direction: column;
}
.titlePanier > h2 {
    width: 400px;
    text-align: center
}
.productPanier > div {
    text-align: center;
    width: 400px;
}
.totalWrapper {
    display: flex;
    align-items: baseline;
    border: dashed 2px;
    margin: 40px;
}
.totalWrapper > h3 {
    text-align: center;
}
#totalPanier {
    margin-left: 10px;
    font-size: 40px;
}
#formWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputWrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonCommander {
    text-align: center;
    margin: 40px auto;
}
.confirmElement {
    text-align: center;
    font-size: 28px;
    margin-top: 100px;
}
.buttonSup {
    height: 38px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: thistle;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
.titlePanier > h2 {
    font-size: 12px;
    text-decoration: none;
}
#name > h2 {
    font-size: 12px;
}
#focale > h2 {
    font-size: 12px;
}
#prix > h2 {
    font-size: 12px;
}
.buttonSup {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0px;
    margin-left: 30px;
    margin-top: -5px;
    background-color: black;
}
.totalWrapper > h3 {
    font-size: 18px;
}
.totalWrapper > #totalPanier {
    font-size: 18px;
}
h3 {
    text-align: center;
}
    }