.navbar a {
    color: white;
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin-bottom: 60px;
}
h1 {
    text-align: center;
    color: violet;
}

.card {
    width: 400px;
    margin: 10px;
    border: solid 1px;
    
    cursor: pointer;
}
.card:hover {
    box-shadow: 3px 5px 20px #555;
}

.card img {
    width: 100%;
}
.button {
    height: 38px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: thistle;
}
.price {
    text-align: center;
}
.titlePanier {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline 3px violet;
}
.productPanier {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#supprimer {
    display: flex;
    flex-direction: column;
}
.titlePanier > h2 {
    width: 400px;
    text-align: center
}
.productPanier > div {
    text-align: center;
    width: 400px;
}
.totalWrapper {
    display: flex;
    align-items: baseline;
    border: dashed 2px;
    margin: 40px;
    text-decoration: underline 3px violet;
}
#totalPanier {
    margin-left: 10px;
    font-size: 40px;
}
#formWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputWrapper {
    margin-bottom: 15px;
}